@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

body {
  font-family: var.$font-family-base;
  font-weight: var.$font-weight-normal;
  line-height: var.$line-height-base;
  font-size: var.$font-size-base;
}

h1,
h2,
h3 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: var.$text-color-primary;
}
i {
  color: var.$text-color-tertiary;
}
.btn {
  display: inline-block;
  background-color: var.$background-button-color;
  padding: 10px 15px;
  color: var.$text-color-primary;
  border-radius: 5px;
  font-weight: var.$font-weight-bold;
  font-size: var.$font-size-base;
  border: none;
}
.wrapper {
  @extend %wrap;
}
.section {
  @extend %section;
}
.center-div {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.div50 {
  width: 40%;
  margin: 0 auto;
  @include mix.tablet-styles {
    width: 80%;
  }
}
.div40 {
  flex-basis: 40%;
  min-height: 350px;
  @include mix.tablet-styles {
    flex-basis: 100%;
  }
}
.div60 {
  flex-basis: 60%;
  min-height: 350px;
  @include mix.tablet-styles {
    flex-basis: 100%;
  }
}
.div33 {
  flex-basis: 33.333%;
}
